Django>=5.1.8,<5.2
djangorestframework>=3.16.0,<3.17
psycopg2>=2.9.10,<2.10
drf-spectacular>=0.28.0,<0.29
django-extensions>=4.1,<4.2
djangorestframework-simplejwt>=5.5.0,<5.6
cryptography>=44.0.2,<44.1
celery>=5.5.2,<5.6
redis>=6.0.0,<6.1
channels>=4.2.2,<4.3
channels-redis>=4.2.1,<4.3
django-celery-beat>=2.8.0,<2.9
daphne>=4.1.2,<4.2
channels>=4.2.2,<4.3
channels-redis>=4.2.1,<4.3
requests
google-auth


